* {
    margin: 0;
    padding: 0;
} 

hr {
    margin: 1rem 0;
}

p {
    padding: 1rem 0;
}

body {
    margin: auto;
    max-width: 1200px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}

main>ul>li {
    list-style-type: none;
    padding: 1rem;
}

article>ul>li {
    margin-left: 2rem;
}

article>ol>li {
    margin-left: 2rem;
}

#footer-links {
    list-style-type: none;
    padding: 1rem;
}

#footer-links>li {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;   
}

a:visited {
    color: blue;
}
