body {
    margin: auto;
    width: 960px;
}

article {
    padding: 0 2em 0 2em;
}

main>ul>li {
    list-style-type: none;
}

#footer-links {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;   
}

a:visited {
    color: blue;
}
