* {
    margin: 0;
    padding: 0;
} 

body {
    margin: auto;
    max-width: 1200px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
}

hgroup {
    margin: 1rem 0;
}

hgroup>h2 {
    margin: .5rem 0;
}

hr {
    margin: 1rem 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;   
}

a:visited {
    color: blue;
}

pre {
    background-color: #f2f2f2;
    padding:  .75rem;
    white-space: pre-wrap;
    border-radius: 5px;
    margin: .75rem 0;
}

ul, ol {
    margin:  1rem 0;
}

main>ul>li {
    list-style-type: none;
    padding: 1rem;
}

article>ul>li {
    margin-left: 2rem;
}

article>ol>li {
    margin-left: 2rem;
}

#footer-links {
    list-style-type: none;
    padding: 1rem;
}

#footer-links>li {
    margin-bottom: 1rem;
}
