<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ site.title }}</title>
</head>

<body>
    <header>
        <h1><a href="/">Tobias Erdle's Blog</a></h1>
        <p>Writes about software development. Basically to keep that stuff in his mind.</p>
        <small>Twitter: <a href="https://twitter.com/erdlet" target="_blank" rel="noopener noreferrer">@erdlet</a></small> | 
        <small>Github: <a href="https://github.com/erdlet" target="_blank" rel="noopener noreferrer">erdlet</a></small>
        <hr>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <hr>
        <ul id="footer-links">
            <li><a href="/impress.html">Impressum</a></li>
            <li><a href="/privacy.html">Datenschutz</a></li>
        </ul>
    </footer>
</body>

</html>