<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ site.title }}</title>
</head>

<body>
    <header>
        <a class="brand" href="/">Tobias Erdle's Blog</a>
        <p>Writes about software development. Basically to keep that stuff in his mind.</p> 
        <small>Github: <a href="https://github.com/erdlet" target="_blank" rel="noopener noreferrer">erdlet</a></small>
        <hr>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <hr>
        <ul id="footer-links">
            <li><a href="/impress.html">Impressum</a></li>
            <li><a href="/privacy.html">Datenschutz</a></li>
        </ul>
    </footer>
</body>

</html>
